.container {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-white);
  padding: 100px 2rem 100px;
}

.body {
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: auto;
  scrollbar-width: none;
  padding: 2rem;
}

@media (max-width: 768px) {
  .body {
    height: calc(100vh - 250px);
  }
}
